/* Styles for the overall parent container */
.overall_parent_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 90px;
}

/* Styles for each restaurant item container */
.img_container {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
}

.img_container:hover {
  transform: scale(1.05);
}

/* Styles for the restaurant name */
.img_container h4 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}


/* Styles for the restaurant image */
.img_container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.img_container a{
  text-decoration: none;
}

/* Loading and error message styles */
p {
  text-align: center;
  font-size: 1.2em;
  color: #888;
}
@media (max-width: 1200px) {
  .img_container {
    flex: 1 1 calc(50% - 40px); /* Two items per row for medium screens */
  }
}

@media (max-width: 768px) {
  .img_container {
    flex: 1 1 calc(100% - 40px); /* One item per row for small screens */
  }
}
